OPENAI_API_KEY=
OPENAI_TEXT_MODEL=gpt-4o-mini
OPENAI_TTS_MODEL=gpt-4o-mini-tts
OPENAI_TRANSCRIBE_MODEL=gpt-4o-mini-transcribe
PORT=5180
AI_PROVIDER=ollama
OLLAMA_MODEL=qwen3:4b-instruct-2507-q4_K_M
OLLAMA_URL=http://127.0.0.1:11435
